@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020617;
  color: #f8fafc;
  font-family: 'Space Grotesk', sans-serif;
  user-select: none;
  touch-action: manipulation;
}

canvas {
  display: block;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
